this is a markdown cell and # as a heading size     
esc followed by 'a' to add a cell above     
esc followed by 'b' to add a cell below   
esc followed by 'dd' to delete a cell    
esc followed by 'm' to make it markdown    
esc followed by 'y' to make it code

### String Handling

In [6]:
string = "this is my new string"

In [7]:
string[2:4] # slice

'is'

In [9]:
new_list = string.split() #split

In [10]:
new_list

['this', 'is', 'my', 'new', 'string']

In [11]:
new_join = ','.join(new_list) #join

In [12]:
new_join

'this,is,my,new,string'

### list

In [13]:
hybrid_list = [1,2,3,"abc",[4,5,6]]

In [32]:
for i in range(1,7):
    for j in range(1,i):
        
        print("#",end='')
    print('\n')

#

##

###

####

#####

In [20]:
# list comprehension
n=[1,2,3,4,5]
list_squars = [i**2 for i in n]
list_squars

[1, 4, 9, 16, 25]

In [25]:
l = [int(i) for i in input().split()]
l

1 2 3 4 5

[1, 2, 3, 4, 5]

In [30]:
print(l,end=',')
print("a","b",2,3,sep="-")

[1, 2, 3, 4, 5],a-b-2-3

In [58]:
def func(a,b=2,*args):
    print(args)
    sum1 = a+b+sum(args)
    print(sum1)

In [59]:
func(12,2,3,10)

(3, 10)
27

In [60]:
tuple = (1,2,3)
tuple

(1, 2, 3)

In [61]:
list_tu = list(tuple)
list_tu

[1, 2, 3]

In [62]:
d={
    "pavbhaji":100,
    "idlesambhar":[40,80],
    "maggi":{'plane':25,'cheese':35}
}

In [64]:
list(d.keys())

['pavbhaji', 'idlesambhar', 'maggi']

In [67]:
for items in d:
    print(d[items])

100
[40, 80]
{'plane': 25, 'cheese': 35}

In [68]:
print(d.items())

dict_items([('pavbhaji', 100), ('idlesambhar', [40, 80]), ('maggi', {'plane': 25, 'cheese': 35})])

In [69]:
print(list(d.items()))

[('pavbhaji', 100), ('idlesambhar', [40, 80]), ('maggi', {'plane': 25, 'cheese': 35})]

In [73]:
countries = ("india","US","South Africa")
capitals = ["Delhi","Washington DC","Cape Town"]
d=dict(zip(countries,capitals))
d

{'india': 'Delhi', 'US': 'Washington DC', 'South Africa': 'Cape Town'}

### Class and Object

In [86]:
class Student:
    marks = []
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks= []
    def show(self):
        print(self.name)
        print(self.school)

In [87]:
s1= Student("Utkarsh","LPS")
s2= Student("ashish","DPS")

s1.marks.append(20)
s2.marks.append(40)
s1.show()
s2.show()
print(s1.marks)

Utkarsh
LPS
ashish
DPS
[20]

In [88]:
import random

In [3]:
import numpy
import pandas
import matplotlib