this is a markdown cell and # as a heading size     
esc followed by 'a' to add a cell above     
esc followed by 'b' to add a cell below   
esc followed by 'dd' to delete a cell    
esc followed by 'm' to make it markdown    
esc followed by 'y' to make it code

### String Handling

In [1]:
string = "this is my new string"

In [2]:
string[2:4] # slice

'is'

In [3]:
new_list = string.split() #split

In [4]:
new_list

['this', 'is', 'my', 'new', 'string']

In [5]:
new_join = ','.join(new_list) #join

In [6]:
new_join

'this,is,my,new,string'

### list

In [7]:
hybrid_list = [1,2,3,"abc",[4,5,6]]

In [8]:
for i in range(1,7):
    for j in range(1,i):
        
        print("#",end='')
    print('\n')

#

##

###

####

#####

In [9]:
#read a list of numbers in a single line
li = input().split()
print(li)
li = [int(i) for i in li ]
print(li)

[]
[]

In [10]:
# list comprehension
n=[1,2,3,4,5]
list_squars = [i**2 for i in n]
list_squars

[1, 4, 9, 16, 25]

In [11]:
l = [int(i) for i in input().split()]
l

[]

In [12]:
print(l,end=',')
print("a","b",2,3,sep="-")

[],a-b-2-3

In [13]:
def func(a,b=2,*args):
    print(args)
    sum1 = a+b+sum(args)
    print(sum1)

In [14]:
func(12,2,3,10)

(3, 10)
27

In [15]:
tuple = (1,2,3)
tuple

(1, 2, 3)

In [16]:
list_tu = list(tuple)
list_tu

[1, 2, 3]

In [17]:
d={
    "pavbhaji":100,
    "idlesambhar":[40,80],
    "maggi":{'plane':25,'cheese':35}
}

In [18]:
list(d.keys())

['pavbhaji', 'idlesambhar', 'maggi']

In [19]:
print(d.items())

dict_items([('pavbhaji', 100), ('idlesambhar', [40, 80]), ('maggi', {'plane': 25, 'cheese': 35})])

In [20]:
print(d.values())

dict_values([100, [40, 80], {'plane': 25, 'cheese': 35}])

In [21]:
for items in d:
    print(d[items])

100
[40, 80]
{'plane': 25, 'cheese': 35}

In [22]:
print(d.items())

dict_items([('pavbhaji', 100), ('idlesambhar', [40, 80]), ('maggi', {'plane': 25, 'cheese': 35})])

In [23]:
print(list(d.items()))

[('pavbhaji', 100), ('idlesambhar', [40, 80]), ('maggi', {'plane': 25, 'cheese': 35})]

In [35]:
d.update("pavbhaji":60)

SyntaxError: invalid syntax (<ipython-input-35-c953942100be>, line 1)

In [24]:
countries = ("india","US","South Africa")
capitals = ["Delhi","Washington DC","Cape Town"]
d=dict(zip(countries,capitals))
d

{'india': 'Delhi', 'US': 'Washington DC', 'South Africa': 'Cape Town'}

### Class and Object

In [25]:
class Student:
    marks = []
    name=''
    school=''
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks= []
    def show(self):
        print(self.name)
        print(self.school,self.marks)

In [26]:
s1= Student("Utkarsh","LPS")
s2= Student("ashish","DPS")

s1.marks.append(20)
s2.marks.append(40)
s1.show()
s2.show()

Utkarsh
LPS [20]
ashish
DPS [40]

In [30]:
s1.marks.append(40)
s2.marks.append(20)
s1.show()
s2.show()

Utkarsh
LPS [20, 40, 40]
ashish
DPS [40, 20, 20]

In [37]:
import random

In [146]:
print(random.randint(0,100))

28

In [153]:
random.seed(10)

In [154]:
l=[i for i in range(0,10)]

In [157]:
random.shuffle(l)
print(l)

[8, 1, 2, 7, 6, 5, 0, 4, 9, 3]

In [40]:
import numpy
import pandas
import matplotlib

SyntaxError: invalid syntax (<ipython-input-33-aa24b794a501>, line 1)